<%= form_tag deactivate_user_path, :method => "post", :remote => true, class: "mod-form" do %>
  <div>
    <div class="mod-form">
      <%= label_tag :list_selection, t('.confirm_deactivation') %>
      <div class="error_messages warning name">
        <!-- Display errors using error_messages helper -->
      </div>
      <%= hidden_field_tag :list_selection, "" %>
    </div>
    <div class="mod-submit-wrap">
      <%= submit_tag t('.submit'), :class => "mod-submit", :title => t('.submit'), data: { disable_with: t("common.submitting") } %>
      <span><%= t('.operator_or') %></span>
      <input type="reset" value="<%= t('.cancel') %>" class="reset md-close">
    </div>
  </div>
<% end %>
