<p class="heading"><%= t('.title') %></p>
<%= form_for @user, :url => { :action => "update_password"}, :remote => true, html: {class: "mod-form"} do |f| %>
  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <% if @user.errors[:current_password].any? %>
        <div class="error_messages warning" >
          <ul>
            <% @user.errors[:current_password].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.label :current_password, t('.attributs.current_password.to_s') %>
    <%= f.password_field :current_password, :placeholder => t('.attributs.current_password.placeholder') %>
    <% if @user.errors[:password].any? %>
      <div class="error_messages warning" >
        <ul>
          <% @user.errors[:password].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <%= f.label :password, t('.attributs.password.to_s') %>
    <div class="span6 span-md-6 span-lg-6 span-xs-12">
      <%= f.password_field :password, :autocomplete => "off", :placeholder => t('.attributs.password.placeholder') %>
    </div>
    <div class="span6 span-md-6 span-lg-6 span-xs-12">
      <%= f.password_field :password_confirmation, :placeholder => t('.attributs.password.confirmation') %>
    </div>
  </div>
  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <div class="mod-submit-wrap">
        <%= f.submit t('.submit'), :class => "mod-submit", :title => t('.submit'), data: { disable_with: t("common.submitting") } %>
        <span><%= t('.operator_or') %></span>
        <input type="reset" value="<%= t('.cancel') %>" class="reset md-close">
      </div>
    </div>
  </div>
<% end %>
