<%= form_for @user, :url => { :action => "transfer_rights"}, html: {class: "mod-form"}, :remote => true, method: :post do |f| %>
  <div>
    <div class="mod-form">
      <%= label_tag :user_id, t('.confirm_transfer', {user: @user.name.full}) %>
      <div class="error_messages warning name">
        <!-- Display errors using error_messages helper -->
      </div>
      <%= hidden_field_tag :user_id, @user.id %>
    </div>
    <div class="mod-submit-wrap">
      <%= submit_tag t('.submit'), :class => "mod-submit", :title => t('.submit'), data: { disable_with: t("common.submitting") } %>
      <span><%= t('.operator_or') %></span>
      <input type="reset" value="<%= t('.cancel') %>" class="reset md-close">
    </div>
  </div>
<% end %>
