<% content_for :title, t('.content_for.title') %>

<% content_for :sharing_panel do %>
  <%= render partial: 'users/sharing_panel' %>
<% end %>

<%= render partial: 'users/sharing_tabs', locals: {current_page: 'edit'} %>
<div class="partial_content">
  <div class="main-form animated fadeIn">
    <div class="prof-header">
      <div class="row-fluid">
        <div class="span8" >
          <%= user_avatar(@user, :version => :show, :class => 'avatar-profil')%>
          <h3 class="name"><%= @user.name.full %></h3>
          <span class="occupation"><%= render_for_html(@user.function) %></span>
          <% if policy(@user).update_avatar?%>
            <div class="buttainer">
              <%= link_to edit_avatar_user_path(@user),
                          :class => "md-trigger",
                          :remote => true,
                          :"data-modal" => "modal",
                          :"data-effect" => "effect-9" do %>
                <button class="chg-avatar"><%=t '.change_avatar' %></button>
              <% end %>
              <%if !@user.avatar.blank?%>
                <%= link_to crop_avatar_user_path(@user),
                            :class => "md-trigger",
                            :remote => true,
                            :"data-modal" => "big-modal",
                            :"data-effect" => "effect-9"  do %>
                  <button class="rez-avatar"><%=t '.resize_avatar' %></button>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="span4">
          <ul class="list info-connex">
            <li class="small item display-data">
              <span class="connectivity"><%= t('.number_of_connections') %>&nbsp;:&nbsp;</span>
              <span class="italic"><%= @user.sign_in_count %></span>
            </li>
            <li class="small item display-data">
              <span class="connectivity"><%= t('.last_connection') %>&nbsp;:&nbsp;</span>
              <span class="italic"><%= (@user.sign_in_count === 0) ? "-": @user.last_sign_in_at.strftime("%e-%m-%Y") %></span>
            </li>
            <li class="small item display-data">
              <span class="connectivity"><%= t('.ip_address_of_the_last_connection') %>&nbsp;:&nbsp;</span>
              <span class="italic"><%= (@user.sign_in_count === 0) ? "-": @user.last_sign_in_ip %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="prof-form padder-top">
      <ul>
        <li id="profil-expand" class="prof-switch"><%= t('.personal_informations') %></li>
        <div class="row-fluid primary-section">
          <div class="prof-column">
            <div class="row-fluid">
              <h4><%= t('.bip.lastname.to_s') %><span></span></h4>
              <p class="display-object">
                <%= best_in_place_if policy(@user).update_with_admin_access?, @user, :lastname,
                                     url: '/users/'+ @user.id.to_s,
                                     as: :input,
                                     data: {'use-confirm' => false},
                                     class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                     cancel_button: t('.cancel'),
                                     html_attrs: {style: "margin: 0 0 10px 0;"},
                                     ok_button: t('.save'),
                                     display_with: :render_for_html %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.firstname.to_s') %><span></span></h4>
              <p class="display-object">
                  <%= best_in_place_if policy(@user).update_with_admin_access?, @user, :firstname,
                                       url: '/users/'+ @user.id.to_s,
                                       as: :input,
                                       data: {'use-confirm' => false},
                                       class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                       html_attrs: {style: "margin: 0 0 10px 0;"},
                                       cancel_button: t('.cancel'),
                                       ok_button: t('.save'),
                                       display_with: :render_for_html %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.email.to_s') %><span></span></h4>
              <p class="display-object">
                <%= @user.email %>
              </p>
            </div>
          </div>
          <div class="prof-column">
            <div class="row-fluid">
              <h4><%= t('.bip.landline.to_s') %></h4>
              <p class="display-object">
                <% if policy(@user).change_profile_info? %>
                  <%= best_in_place @user, :phone,
                                    url: '/users/'+ @user.id.to_s,
                                    as: :input,
                                    data: {'use-confirm' => false},
                                    class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                    html_attrs: {style: "margin: 0 0 10px 0;"},
                                    cancel_button: t('.cancel'),
                                    ok_button: t('.save'),
                                    place_holder: build_tag_with_msg("(xxx) xxx-xxx"),
                                    display_with: :render_for_html %>
                <% else %>
                  <%= @user.phone.nil? ? build_tag_with_msg("(xxx) xxx-xxx") : @user.phone %>
                <% end %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.mobile_phone.to_s') %></h4>
              <p class="display-object">
                <% if policy(@user).change_profile_info? %>
                  <%= best_in_place @user, :mobile_phone,
                                    url: '/users/'+ @user.id.to_s,
                                    as: :input,
                                    data: {'use-confirm' => false},
                                    class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                    html_attrs: {style: "margin: 0 0 10px 0;"},
                                    cancel_button: t('.cancel'),
                                    ok_button: t('.save'),
                                    place_holder: build_tag_with_msg("(xxx) xxx-xxx"),
                                    display_with: :render_for_html %>
                <% else %>
                  <%= @user.mobile_phone.nil? ? build_tag_with_msg("(xxx) xxx-xxx") : @user.mobile_phone %>
                <% end %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.language.to_s') %></h4>
              <p class="display-object">
                <% if policy(@user).change_profile_info? %>
                  <%= best_in_place @user, :language,
                                    url: put_user_path(@user),
                                    as: :select,
                                    collection: available_locales_extended(array: true),
                                    data: {'use-confirm' => false, 'reload' => true},
                                    class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                    html_attrs: {style: "margin: 0 0 10px 0;"},
                                    cancel_button: t('.cancel'),
                                    ok_button: t('.save'),
                                    place_holder: "..." ,
                                    display_with: :render_for_html %>
                <% else %>
                  <%=t 'name' %>
                <% end %>
              </p>
            </div>
          </div>
          <div class="prof-column">
            <div class="row-fluid">
              <h4><%= t('.bip.gender.to_s') %></h4>
              <p class="display-object">
                <% if policy(@user).change_profile_info? %>
                  <%= best_in_place @user, :gender,
                                    :url => put_user_path(@user),
                                    :as => :select,
                                    :collection => [
                                      ["man", humanize_user_gender("man")],
                                      ["woman", humanize_user_gender("woman")]
                                    ],
                                    :data => {'use-confirm' => false},
                                    :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                    :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                    :cancel_button => t('.cancel'),
                                    :ok_button => t('.save'),
                                    :place_holder => "..." %>
                <% else %>
                  <%= humanize_user_gender(@user.gender) %>
                <% end %>
              </p>
            </div>

            <div id="mail-frequency-group">
              <div id="mail-frequency" class="row-fluid">
                <h4><%= t('.bip.mail_frequency') %></h4>
                <p class="display-object">
                  <% if policy(@user).change_profile_info? %>
                    <%= best_in_place @user, :mail_frequency,
                                      :url => put_user_path(@user),
                                      :as => :select,
                                      :collection => [
                                        ["none", humanize_user_mail_frequency("none")],
                                        ["real_time", humanize_user_mail_frequency("real_time")],
                                        ["daily", humanize_user_mail_frequency("daily")],
                                        ["weekly", humanize_user_mail_frequency("weekly")]
                                      ],
                                      :data => {'use-confirm' => false},
                                      :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                      :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                      :cancel_button => t('.cancel'),
                                      :ok_button => t('.save'),
                                      :place_holder => "..." %>
                  <% else %>
                    <%= humanize_user_mail_frequency(@user.mail_frequency) %>
                  <% end %>
                </p>
              </div>
              <div id="mail_locale_hour" class="row-fluid <%= (@user.mail_frequency == 'weekly' || @user.mail_frequency == 'daily') ? '' : 'hide' %>">
                <p class="display-object">
                  <% if policy(@user).change_profile_info? %>
                    <%= best_in_place @user, :mail_locale_hour,
                                      :url => put_user_path(@user),
                                      :as => :select,
                                      :collection => humanize_user_mail_locale_hours,
                                      :data => {'use-confirm' => false},
                                      :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                      :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                      :cancel_button => t('.cancel'),
                                      :ok_button => t('.save'),
                                      :place_holder => "..." %>
                  <% else %>
                    <%= humanize_user_mail_locale_hour(@user) %>
                  <% end %>
                </p>
              </div>
              <div id="mail_weekly_day" class="row-fluid <%= @user.mail_frequency == 'weekly' ? '' : 'hide' %>">
                <p class="display-object">
                  <% if policy(@user).change_profile_info? %>
                    <%= best_in_place @user, :mail_weekly_day,
                                      :url => put_user_path(@user),
                                      :as => :select,
                                      :collection => humanize_user_mail_weekly_days,
                                      :data => {'use-confirm' => false},
                                      :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                      :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                      :cancel_button => t('.cancel'),
                                      :ok_button => t('.save'),
                                      :place_holder => "..." %>
                  <% else %>
                    <%= humanize_user_mail_weekly_day(@user) %>
                  <% end %>
                </p>
              </div>
            </div>

            <% if policy(@user).edit_pwd? %>
            <div class="row-fluid">
              <h4><%= t('.bip.password.to_s') %></h4>
              <p class="display-object">
              <div class="row-fluid">
                <%= button_to(t('.bip.password.update'),
                              users_edit_password_path,
                              :method => "get",
                              :remote => true,
                              :class => "md-trigger password ",
                              :"data-modal" => "modal",
                              :"data-effect" => "effect-1" ) %>
              </div>
              </p>
            </div>
            <% end %>
          </div>
        </div>
        <li id="profil-expand" class="prof-switch"><%= t('.complementary_informations') %></li>
        <div class="row-fluid secondary-section">
          <div class="prof-column">
            <div class="row-fluid">
              <h4><%= t('.bip.function.to_s') %></h4>
              <p class="display-object">
                  <%= best_in_place_if policy(@user).update_with_admin_access?, @user, :function,
                                       url: '/users/'+ @user.id.to_s,
                                       as: :input,
                                       data: {'use-confirm' => false, reload: true},
                                       class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                       html_attrs: {style: "margin: 0 0 10px 0;"},
                                       cancel_button: t('.cancel'),
                                       ok_button: t('.save'),
                                       place_holder: build_tag_with_msg(I18n.t('devise.registrations.edit.bip.function.nil')),
                                       display_with: :render_for_html %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.service.to_s') %></h4>
              <p class="display-object">
                <%= best_in_place_if policy(@user).update_with_admin_access?, @user, :service,
                                     url: '/users/'+ @user.id.to_s,
                                     as: :input,
                                     data: {'use-confirm' => false},
                                     class: ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                     html_attrs: {style: "margin: 0 0 10px 0;"},
                                     cancel_button: t('.cancel'),
                                     ok_button: t('.save'),
                                     place_holder: build_tag_with_msg(I18n.t('devise.registrations.edit.bip.service.nil')),
                                     display_with: :render_for_html %>
              </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.supervisor.to_s') %></h4>
                <p class="display-object">
                  <% if policy(@user).update_with_admin_access?%>
                    <p id="supervisor-select-value-wrapper" style="visibility: hidden;">
                      <span id="supervisor-select-value"
                            data-placeholder="<%= t('devise.registrations.edit.bip.supervisor.nil') %>"
                            data-show-placeholder="<%= @user.supervisor_id.present? ? 'false' : 'true'%>">
                        <%= @user.supervisor_id.present? ? current_customer.users.find(@user.supervisor_id).name.full_inv : '' %>
                      </span>
                      <i class="fa fa-times-circle bip_reset" style="display: inline;" id="supervisor-select-remove"></i>
                      <span id="supervisor-select-loading"></span>
                      <input id="supervisor-select" style="width: 100%;" data-url="/users/<%= @user.id %>" />
                    </p>
                  <% else %>
                    <%= @user.supervisor_id.nil? ? (
                        build_tag_with_msg(I18n.t('devise.registrations.edit.bip.supervisor.none'))
                      ) : (
                        current_customer.users.find(@user.supervisor_id).name.full_inv
                      ) %>
                  <% end%>
                </p>
            </div>
            <div class="row-fluid">
              <h4><%= t('.bip.working_date.to_s', :customer_url => @user.customer.url) %></h4>
              <p class="display-object">
                <%= best_in_place_if policy(@user).update_with_admin_access?, @user, :working_date,
                                     :url => '/users/'+ @user.id.to_s,
                                     :as => :input,
                                     :data => {'use-confirm' => false},
                                     :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                     :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                     :cancel_button => t('.cancel'),
                                     :ok_button => t('.save'),
                                     :place_holder => t('.bip.working_date.nil') %>
              </p>
            </div>
          </div>
          <div class="prof-column">
            <div class="row-fluid" >
              <h4><%= t('.bip.profile_type.to_s') %></h4>
              <p class="display-object">
              <% if policy(@user).update_profile? %>
                  <%= best_in_place @user, :profile_type,
                                    :url => put_user_path(@user),
                                    :as => :select,
                                    :collection => [
                                      ["admin", humanize_user_profile("admin")],
                                      ["designer", humanize_user_profile("designer")],
                                      ["user", humanize_user_profile("user")]
                                    ],
                                    :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                    :cancel_button => t('.cancel'),
                                    :ok_button => t('.save'),
                                    :class => "select_profile_type",
                                    :data => { :'user-id' => @user.id, :'errors' => @user.errors } %>
                <% else %>
                  <%= humanize_user_profile(@user.profile_type) %>
                <%  end %>
              </p>
            </div>
            <% if policy(current_user).access_improver? %>
            <div class="row-fluid" >
              <h4><%= t('.bip.improver_profile_type.to_s') %></h4>
              <p class="display-object">
              <% if policy(@user).update_improver_profile? %>
                  <%= best_in_place @user, :improver_profile_type,
                                    :url => put_user_path(@user),
                                    :as => :select,
                                    :collection => [
                                      ["admin", humanize_improver_user_profile("admin")],
                                      ["manager", humanize_improver_user_profile("manager")],
                                      ["user", humanize_improver_user_profile("user")]
                                    ],
                                    :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                    :cancel_button => t('.cancel'),
                                    :ok_button => t('.save'),
                                    :class => "select_profile_type",
                                    :data => { :'user-id' => @user.id, :'errors' => @user.errors } %>
                <% else %>
                  <%= humanize_improver_user_profile(@user.improver_profile_type) %>
                <%  end %>
              </p>
            </div>
            <% end %>
          </div>
          <div class="prof-column">
            <div class="row-fluid" >
              <h4><%= t('.bip.time_zone.to_s') %></h4>
              <p class="display-object">
                <% if policy(@user).change_time_zone? %>
                  <%= best_in_place @user, :time_zone,
                                    :url => put_user_path(@user),
                                    :as => :select,
                                    :collection => ActiveSupport::TimeZone.all.collect{|t| [t.name, t.to_s]},
                                    :data => {'use-confirm' => false},
                                    :class => ['highlight_on_success', 'highlight_on_error', 'bip_input'],
                                    :html_attrs => {:style=> "margin: 0 0 10px 0;"},
                                    :cancel_button => t('.cancel'),
                                    :ok_button => t('.save'),
                                    :place_holder => "..." %>
                <% else %>
                  <%= humanize_user_time_zone(@user)  %>
                <% end %>
              </p>
            </div>
            <!-- Attachments-->
            <div class="row-fluid">
              <div class="attachment_block">
                <h4><%= t('.attachments.title') %></h4>

                <% if policy(@user).add_attachment? %>
                  <p class="tips">
                    <%=t('.attachments.tips', maximum: User::ATTACHMENTS_LIMIT)%>
                  </p>
                <% end %>

                <div class="attachments_list">
                  <%= render partial: 'attachments/attachments_list', locals: {entity: @user} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

<% content_for :modals do %>
  <%= render :partial => "layouts/userslistmodal" %>
  <%= render :partial => "layouts/modal" %>
  <%= render :partial => "layouts/big_modal" %>
  <%= render :partial => "layouts/import_attachment_modal" %>
<% end %>

<script>
  var groups = <%= groups_labels_for_js(@user.customer.groups) %>;
  $(".input_groups").val(groups).select2(init_ajax_groups());
</script>
