<% @emergency_link_sent ||= false %>

<div class="login-page">
  <div class="form">
    <div class="picture_logo">
      <%= customer_logo(current_customer.settings, { version: :show, style: "max-width:200px;max-height:200px"}) %>
    </div>
    <% if @emergency_link_sent %>
      <div>
        <h3 style="font-size: 16px;"><%= t ".emergency_link_sent.title" %></h3>
        <p class="center"><%= t ".emergency_link_sent.tips", duration: Settings.emergency_token_timeout_in / 60 %></p>
      </div>
    <% elsif !@error.nil? %>
      <% case @error %>
      <% when :user_deactivated %>
        <h3 style="font-size: 16px;"><%= t ".user_deactivated.title" %></h3>
        <p class="center"><%= t ".user_deactivated.tips" %></p>
      <% when :staff_is_full %>
        <div>
          <h3 style="font-size: 16px;"><%= t ".limit_reached.title" %></h3>
          <p class="center"><%= t ".limit_reached.tips" %></p>
        </div>
      <% when :user_email_invalid %>
        <div>
          <h3 style="font-size: 16px;"><%= t ".user_email_invalid.title" %></h3>
          <p class="center"><%= t ".user_email_invalid.tips" %></p>
        </div>
      <% when :certificate_error %>
        <div>
          <h3 style="font-size: 16px;"><%= t ".certificate_error.title" %></h3>
          <p class="center"><%= t ".certificate_error.tips" %></p>
        </div>
      <% else %>
        <div>
          <h3 style="font-size: 16px;"><%= t ".other_error.title" %></h3>
          <p class="center"><%= t ".other_error.tips" %></p>
        </div>
      <% end %>
    <% else %>
      <% if current_customer.saml_auth_strategy? %>
        <%= link_to new_user_sso_session_path, class: %w(fluid blue btn btn--small) do %>
          <%= t ".title" %>&nbsp;
          <strong><%= current_customer.settings.sso_settings.idp_name || "IDP" %></strong>
        <% end %>
      <% end %>
      <%= link_to new_user_emergency_session_path, style: "float: right;margin-top: 10px;" do %>
        <%= t ".connection_problem" %>
      <% end %>
    <% end %>
  </div>
</div>
