<%= form_for @tag, url: "http://localhost:3001/tags/create", method: "post", :remote => true, html: {class: "mod-form"} do |f| %>
  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <p>
        <%= @tag %>
      </p>
      <p class="heading"><%= t('.title') %></p>
      <div class="error_messages label warning">
        <ul></ul>
      </div>
      <%= f.label :label, t('.attributs.label.title') %>
      <%= f.text_field :label, :placeholder => t('.attributs.label.placeholder'), :class => "tag_name label" %>
    </div>
  </div>
  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <div class="mod-submit-wrap">
        <%= f.submit t('.submit'), :class => "mod-submit", :title => t('.submit'), data: { disable_with: t("common.submitting") } %>
        <span><%= t('common.or') %></span>
        <input type="reset" value="<%= t('common.cancel') %>" class="reset md-close">
      </div>
    </div>
  </div>
<% end %>
