<section class="viewer show_tag">
  <div class="block_content" id="tags">
    <div class="row">
      <div class="span12 span-md-12 span-lg-12 span-xs-12">
        <h3><%= render_for_html(@tag.label) %></h3>
      </div>
    </div>
    <div class="row">
      <div class="span8 span-md-8 span-lg-8 span-xs-12">
        <% if @tag.nil? %>
          <div class="row">
            <div class="span12 span-md-12 span-lg-12 span-xs-12">
              <h4 class="collapsible_title">
                <a href="#"><%= t('.not_found_tag') %></a>
              </h4>
              <%= t('.tag_not_exist') %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="span12 span-md-12 span-lg-12 span-xs-12">
              <h4 class="collapsible_title">
                <a href="#"><%= t('.linked_graphs') %></a>
              </h4>
                <% if @graphs.count > 0 %>
                <div class="block">
                  <div class="block_head"></div>
                  <div class="block_content">
                    <table class="table" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th width="50%"><%= t('.thead.elements') %></th>
                          <th width="25%"><%= t('.thead.creation') %></th>
                          <th width="25%"><%= t('common.author') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @graphs.each do |graph| %>
                        <tr class="<%= cycle("odd", "even") -%> contents">
                          <td>
                            <%= link_to "http://localhost:3000/graphs/#{graph['id']}" do %>
                            <span>
                              <%= get_child_image_url(graph["id"], "32x32", "Graph") %>
                            </span>
                            <%= render_for_html(graph["title"]) %>
                            <% end %>
                          </td>
                          <td class="start_date"><%= parse_timer(graph["created_at"]) %></td>
                          <td>
                            <%= link_to "http://localhost:3000/users/#{graph['author_id']}/edit" do %>
                            <%= "khra" %>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                </div>
              <% else %>
                <p class="empty-block"><%= t('.any_linked_graph') %></p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="span12 span-md-12 span-lg-12 span-xs-12">
              <h4 class="collapsible_title">
                <a href="#"><%= t('.linked_documents') %></a>
              </h4>
                <% if @documents.count > 0 %>
                <div class="block">
                  <div class="block_head"></div>
                  <div class="block_content">
                    <table class="table" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th width="50%"><%= t('.thead.elements') %></th>
                          <th width="25%"><%= t('.thead.creation') %></th>
                          <th width="25%"><%= t('common.author') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @documents.each do |document| %>
                        <tr class="<%= cycle("odd", "even") -%> contents">
                          <td>
                            <%= link_to "http://localhost:3000/documents/#{document['id']}" do %>
                            <span>
                              <%= get_child_image_url(document["id"], "32x32", "Document") %>
                            </span>
                            <%= render_for_html(document["title"]) %>
                            <% end %>
                          </td>
                          <td class="start_date"><%= parse_timer(document["created_at"]) %></td>
                          <td>
                            <%= link_to "http://localhost:3000/users/#{document['author_id']}/edit" do %>
                            <%= "khra" %>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% else %>
                <p class="empty-block"><%= t('.any_linked_document') %></p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="span12 span-md-12 span-lg-12 span-xs-12">
              <h4 class="collapsible_title">
                <a href="#"><%= t('.linked_roles') %></a>
              </h4>
                <% if @roles.count > 0 %>
                <div class="block">
                  <div class="block_head"></div>
                  <div class="block_content">
                    <table class="table" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th width="50%"><%= t('.thead.elements') %></th>
                          <th width="25%"><%= t('.thead.creation') %></th>
                          <th width="25%"><%= t('common.author') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @roles.each do |role| %>
                        <tr class="<%= cycle("odd", "even") -%> contents">
                          <td>
                            <%= link_to "http://localhost:3000/roles/#{role['id']}" do %>
                            <span>
                              <%= get_child_image_url(role["id"], "32x32", "Role") %>
                            </span>
                            <%= role["title"] %>
                            <% end %>
                          </td>
                          <td class="start_date"><%= parse_timer(role["created_at"]) %></td>
                          <td>
                            <%= link_to "http://localhost:3000/users/#{role['author_id']}/edit" do %>
                            <%= "khra" %>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% else %>
                <p class="empty-block"><%= t('.any_linked_role') %></p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="span12 span-md-12 span-lg-12 span-xs-12">
              <h4 class="collapsible_title">
                <a href="#"><%= t('.linked_resources') %></a>
              </h4>
                <% if @resources.count > 0 %>
                <div class="block">
                  <div class="block_head"></div>
                  <div class="block_content">
                    <table class="table" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th width="50%"><%= t('.thead.elements') %></th>
                          <th width="25%"><%= t('.thead.creation') %></th>
                          <th width="25%"><%= t('common.author') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @resources.each do |resource| %>
                        <tr class="<%= cycle("odd", "even") -%> contents">
                          <td>
                            <%= link_to "http://localhost:3000/resources/#{resource['id']}" do %>
                            <span>
                              <%= get_child_image_url(resource["id"], "32x32", "Resource") %>
                            </span>
                            <%= resource["title"] %>
                            <% end %>
                          </td>
                          <td class="start_date"><%= parse_timer(resource["created_at"]) %></td>
                          <td>
                            <%= link_to "http://localhost:3000/users/#{resource['author_id']}/edit" do %>
                            <%= "khra" %>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% else %>
                <p class="empty-block"><%= t('.any_linked_resource') %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div> <!-- End Span -->
      <div class="span4 span-md-4 span-lg-4 span-xs-12">
        <h4 class="first_of_type"><%= t('.list_tags') %></h4>
        <ul class="taglist">
          <% set_connexion.tags.order(label: :asc).each do |tag| %>
          <% if !@tag.nil? && @tag.id == tag.id %>
            <li class='active'>
          <% else %>
            <li>
              <% end %>
              <%= link_to "http://localhost:3000/tags/#{tag.id}" do %>
              <span>
                <%= render_for_html(tag.label) %>&nbsp;&nbsp;
                <div class="countertags"><%= "5" %></div>
              </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>  <!-- End Span -->
    </div><!-- End Row -->
  </div>
  <!-- End block_content -->
</section>
<!-- End Section Viewer -->
