
<p class="heading"><%= t('.title') %></p>
<%= form_for resource, :url => invitation_path(resource_name), :remote => true, html: {class: "mod-form"} do |f|  %>

  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <% if resource.errors[:base].any? %>
        <% resource.errors[:base].each do |msg| %>
          <%= translate_errors(msg) %>
        <% end %>
      <% elsif resource.errors.any? %>
        <div class="error_messages directory_name warning" >
          <ul>
            <% resource.errors.each do |ind,msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% elsif check_if_freemium(current_user) %>
        <%= show_freemium_msg %>
      <% end %>
      <% resource.class.invite_key_fields.each do |field| -%>
          <%= f.label field %>
          <%= f.text_field field %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span6 span-md-6 span-lg-6 span-xs-12">
      <%= f.label :firstname, t('.attributs.firstname.to_s') %>
      <%= f.text_field :firstname, :placeholder => t('.attributs.firstname.placeholder') %>
    </div>
    <div class="span6 span-md-6 span-lg-6 span-xs-12">
      <%= f.label :lastname, t('.attributs.lastname.to_s') %>
      <%= f.text_field :lastname, :placeholder => t('.attributs.lastname.placeholder') %>
    </div>
  </div>
  <div class="row">
    <div class="span6 span-md-6 span-lg-6 span-xs-12">
      <%= f.label :profile_type, t('.attributs.profile_type.to_s') %>
      <%= f.select :profile_type, User.profile_types_in_db.collect{ |p| [humanize_user_profile(p), p]} %>
    </div>
    <% if current_customer.access_improver? %>
      <div class="span6 span-md-6 span-lg-6 span-xs-12">
        <%= f.label :improver_profile_type, t('.attributs.improver_profile_type.to_s') %>
        <%= f.select :improver_profile_type, User.improver_profile_types_in_db.collect{ |p| [humanize_improver_user_profile(p), p]} %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span12 span-md-12 span-lg-12 span-xs-12">
      <div class="mod-submit-wrap">
        <%= f.submit t('.submit.value'), :class => "mod-submit", :title => t('.submit.title'), data: { disable_with: t("common.submitting") } %>
        <span><%= t('.operator.or') %></span>
        <input type="reset" value="<%= t('.cancel') %>" class="reset md-close">
      </div>
    </div>
  </div>
<% end %>
