<tr>
    <td valign="top" class="bodyContent">
      <h1><%= @title %></h1>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
      <%= t('.parts.invited_by', :customer_url => @resource.customer.url) %>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
        <a class="button" href="<%= "#{Settings.server.protocol}://#{@resource.customer.url}#{accept_invitation_path(@resource, :invitation_token => @token)}" %>" ><%= t('.accept_invitation') %></a>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
      <%= t('.parts.if_dont_accept') %>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
      <%= t('.parts.inactivate_account') %>
    </td>
</tr>
