<tr>
    <td valign="top" class="bodyContent">
      <h1><%= @title %></h1>
      <%= t('.reset_request') %>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
      <a class="button" href="<%= edit_password_url(@resource, :reset_password_token => @token) %>"><%= t('.click_here') %></a>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
        <%= t('.ignore_request') %>&nbsp;:&nbsp;<a style="color:rgb(67,123,143); text-decoration:underline;" href="mailto:<%= Settings.support_email %>"><%= Settings.support_email %></a>
    </td>
</tr>
